$colorSelectSite: rgb(241, 109, 127);
$widthSite: 1140px;
$backBlock: rgb(34, 34, 34);
$colorText: rgb(0, 0, 0);
$gapGrid: 30px;
$thirdSite: (
  $widthSite - $gapGrid * 2) / 3;
  $widthBurgerMenu: 232px;